<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Home </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/admin/homeAdmin.css">
		<link rel="icon" type="image/png" href="/images/favicons/favicon.jpeg">
	</head>
	
	<body>
		<h1>AMMINISTRAZIONE SIWFIT</h1>
		<div id="wrapper">
			
			<p>Qui puoi modificare contenuti del sistema siwfit:</p>
				<div>
					<ul>
						<li><a th:href="@{/admin/categorie}">Categorie</a></li>
						<li><a th:href="@{/admin/trainers}">Trainers</a></li>
						<li><a th:href="@{/admin/corsi}">Corsi</a></li>
					</ul>
				</div>
		</div>
		
			<div id="logout">
				<a th:href="@{/logout}">
					<button id="button">LOGOUT
					</button></a>
			</div>
	</body>
</html>