<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/admin/dettagli.css">
		<link rel="icon" type="image/png" href="/images/favicons/favicon.jpeg">
	</head>
	<body>
		<div id="container">
			<h2>TRAINER</h2>	
			<div id="button_wrapper">
				<a th:href="@{/admin/homeadmin}">
					<button id="button">HOME
					</button></a>
			</div>
		</div>
		<div id="wrapper">
			<div id="elenco">
				<ul>
					<li th:each="tr : ${trainers}">
						<div th:if="${trainer.id} ==  ${tr.id}" id="selected">
							<a th:href="@{'/admin/dettagli_trainer'+'/'+${tr.id}}" th:text="${tr.nome}+' '+${tr.cognome}"></a>
						</div>
						<div th:if="${trainer.id} !=  ${tr.id}">
							<a th:href="@{'/admin/dettagli_trainer'+'/'+${tr.id}}" th:text="${tr.nome}+' '+${tr.cognome}"></a>
						</div>
					</li>
				</ul>
			</div>
			<div id="dettagli">
					<div id="modifiche-btn">
						<a th:href="@{'/admin/modifica_trainer'+'/'+${trainer.id}}" >
							<img class="mod_icon" src="/images/writing.png">
						</a>
						<a th:href="@{'/admin/delete_trainer'+'/'+${trainer.id}}" onclick="return confirm('Sei sicuro di voler eliminare questo trainer?')">
							<img class="trash_icon" src="/images/trash.png">
						</a>
					</div>
					<div id="info">
						<span><strong>Nome:</strong><span th:text="${trainer.nome}+' '+${trainer.cognome}"></span></span>
						<span><strong>Descrizione:</strong><span th:text="${trainer.descrizione}"></span></span>

					</div>
					<h4>Corsi di questo trainer:</h4>
					<ul id="elencoCorsi">
						<li th:each="corso : ${trainer.corsi}" id="corso">
							<span th:text="${corso.nome}"></span>
						</li>
					</ul>
					<div id="add" >
						<div class="tooltip">
							<a th:href="@{/admin/crea_trainer}">➕</a>
							<div class="tooltiptext">
								<span>Aggiungi</span>
							</div>
						</div>
					</div>
			</div>
		
		</div>

	</body>
</html>
