<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/admin/form_categoria.css">
		<link rel="icon" type="image/png" href="/images/favicons/favicon.jpeg">
	</head>
	
	<body>
		
		<div id="buttons_wrapper">
			<a th:href="@{/admin/trainers}">
				<button id="button">BACK</button>
			</a>
			<a th:href="@{/admin/homeadmin}">
				<button id="button">HOME</button>
			</a>
		</div>
		
		<div id="wrapper">
			<div id="aggiungi">
				<h2>MODIFICA TRAINER</h2>
			</div>
		</div>
		<div id="form_wrapper">	
			<form th:action="@{'/admin/edit_trainer'+'/'+${trainer.id}}" method="POST" th:object="${trainer}">
				<div id="error" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div class="campo">
					<span>Nome:</span> 
					<span>
						<input type="text" th:field="*{nome}" th:value="*{nome}" required/>
					</span>
				</div>
				<div class="campo">
					<span>Cognome:</span> 
					<span>
						<input type="text" th:field="*{cognome}" th:value="*{cognome}" required/>
						</span> 
				</div>
				<div class="campo">
					<span>Descrizione:</span>
					<span>
						<input type="text" th:field="*{descrizione}" th:value="*{descrizione}" required/>
					</span>
				</div>
				<div id="conf_btn">
						<button id="conferma" type="submit">CONFERMA</button>
				</div>
			</form>
		</div>
	</body>
</html>

