body {
    background-color: black;
    margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: "Gilroy-HeavyItalic",sans-serif;
}

header {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

nav a {
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: white;
}

img {
    height: 60px;
    margin-left: 22%;
    margin-top: 20%;
}

#container {
    padding-left: 10%;
    padding-top: 2.5%;
    font-size: x-large;
    width: 47%;
}

.link_nav {
    text-decoration: none;
    color: aliceblue;
    margin-right: 30px;
}

a:hover {
    color: #ff5d66;
    pointer-events: cursor;
}

#corsi_prenotati {
    color: #ff5d66;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color:white;
  background-image: url("/images/user.png");
  height:60px;
  width:60px;
  border-radius:50%;
  background-size: cover;
  margin-left: 270px;
  margin-top: 2%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -225%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
 content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#logout {
	margin-right:0;
	color:white;
}

#logout:hover {
	color:#ff5d66;
}

#corsi_wrapper {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    width: 94%;
    margin-left: 11.5%;
    border-radius: 6%;
    margin-top: 12%;
}

#dettagli_wrapper{
	background-size: cover;
	margin-right: 3%;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 25%;
	height: 400px;
	margin-bottom: 6%;
	color: white;
}

#dettagli_corso {
	font-size: x-large;
	margin: 5%;
}

#sfondo {
	background: linear-gradient(to bottom, transparent 20%, black);
	height: 100%;
	border-radius: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#title {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 14%;
	font-size: xx-large;
    margin-left: 2%;
}

#allenati {
    border: solid;
    padding: 4% 7%;
    border-radius: 3px;
    font-size: large;
}

#difficolta {
    border: solid #2a2a2e;
    display: initial;
    background-color: #2a2a2e;
    padding: 2%;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: initial;
    font-weight: 100;
}

#data_durata {
	margin-top: 10%;
	font-size: large;
	font-weight: 600;
}

#data {
	color: #ff5d66;
}

#no_corsi {
	display: flex;
    flex-direction: column;
    color: white;
	text-align: center;
	align-items: center;
}

h1 {
	margin-top: 17%;
	font-size: xxx-large;
}

.allenati {
    border: solid;
    padding: 4% 7%;
    border-radius: 3px;
    font-size: large;
}

#allenati2 {
	padding: 1% 2%;
	margin-top: 3%;
}

#text {
	margin-bottom: 3%;
}
