body {
	background-color: black;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	/*font-family: BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;*/
	font-family: "Gilroy-HeavyItalic", sans-serif;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	z-index: 1;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: white;
}

#logo {
	height: 60px;
	margin-left: 22%;
	margin-top: 20%;
}

#container {
	padding-left: 10%;
	padding-top: 2.5%;
	font-size: x-large;
	width: 47%;
}

.link_nav {
	text-decoration: none;
	color: aliceblue;
	margin-right: 30px;
}

a:hover {
	color: #ff5d66;
	pointer-events: cursor;
}

#trainers {
	color: #ff5d66;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	color: white;
	background-image: url("/images/user.png");
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-size: cover;
	margin-left: 270px;
	margin-top: 2%;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: -225%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%; /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#logout {
	margin-right: 0;
	color: white;
}

#logout:hover {
	color: #ff5d66;
}

#wrapper {
	width: 100%;
	height: 524px;
	display: flex;
	margin-top: 10%;
}

#img_wrapper {
	width: 50%;
	height: 100%;
	background-position-y: 70%;
	background: linear-gradient(to right, transparent 75%, black),
		url(/images/corso.jpg);
	background-size: cover;
	background-position: center top 30%;
}

#dettagli_wrapper {
	width: 50%;
	color: aliceblue;
	overflow: auto;
}

#corso_container {
	margin: 5%;
	display: flex;
	flex-direction: column;
}

#categoria {
	background-color: #ff5d66;
	width: fit-content;
	padding: 1%;
	height: 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 900;
	font-family: sans-serif;
}

#data {
	color: #ff5d66;
}

#data_wrapper {
	font-size: large;
	margin-bottom: 4%;
}

#details {
	display: flex;
}

.info {
	background-color: #555;
	border-radius: 3px;
	padding: 1%;
	width: calc(33% - 6px);
	text-align: center;
	font-size: large;
	margin: 1%;
}

#desc {
	font-size: large;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: justify;
}

#btn_wrapper {
	display: flex;
	justify-content: center;
}

.si, .no {
	border: solid;
	padding: 3% 5%;
	border-radius: 3px;
	font-size: large;
	min-width: 30%;
	align-self: center;
	margin: 2%;
	text-align: center;
}

.no {
	color: #2a2a2e;
}

.si:hover {
	color: #ff5d66;
	pointer-events: cursor;
}

#trainer {
	background-color: #19191a;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 3%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#conosci {
	color: #8b8b8b;
	margin-bottom: -1%;
	margin-right: unset;
}

#conosci:hover {
	color: #ff5d66;
}

#img_trainer {
	background-color: white;
	padding: 2%;
	border-radius: 50%;
	margin: 2%;
	border: solid #555;
	width: 70px;
	height: 70px;
}

#trainer_desc {
	margin: 2% 3%;
}

h1 {
	text-transform: uppercase;
}

#durata {
	margin-left: 0;
}

#disponibilita {
	text-align: center;
    margin: 2%;
}