body {
    background-color: black;
    margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: "Gilroy-HeavyItalic",sans-serif;
}

header {
	position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: white;
}

img {
    height: 60px;
    margin-left: 22%;
    margin-top: 20%;
}

#container {
    padding-left: 10%;
    padding-top: 2.5%;
    font-size: x-large;
    width: 47%;
}

a:hover {
    color: #ff5d66;
    pointer-events: cursor;
}

h1 {
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 3em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color:white;
  background-image: url("/images/user.png");
  height:60px;
  width:60px;
  border-radius:50%;
  background-size: cover;
  margin-left: 270px;
  margin-top: 2%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -225%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
 content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#logout {
	margin-right:0;
	color:white;
}

#logout:hover {
	color:#ff5d66;
}

#wrapper {
	width: 100%;
    height: 524px;
    display: flex;
    margin-top: 10%;
}

#img_wrapper {
	/*background-image: url(/images/corso.jpeg);*/
    width: 50%;
    height: 100%;
    background-position-y: 70%;
   	background: linear-gradient(to right, transparent 75%, black), url(/images/trainer.jpg);
   	background-size: cover;
    background-position: center top 40%;
}

#dettagli_wrapper {
	width:50%;
	color:aliceblue;
}

#corso {
    background-size: cover;
    margin-right: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 40%;
    height: 85%;
    justify-content: center;
    margin-bottom: 7%;
}

#dettagli_corso {
    font-size: medium;
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
}

#corsi_wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 58%;
    overflow: auto;
    margin-top: 7%;
}

#info_trainer {
	margin: 5% 7%;
    text-align: center;
}

#nome {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 14%;
    font-size: x-large;
    margin-left: 2%;
    margin-right: 2%;
}

#link_corso {
    border: solid;
    padding: 4% 7%;
    border-radius: 3px;
    font-size: large;
    margin: 0% 15%;
}

#sfondo {
	height: 100%;
	border-radius: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(to bottom, transparent 20%, black);
}

#no_corsi {
	display: flex;
    flex-direction: column;
    color: white;
	text-align: center;
	align-items: center;
}

#no_corsi h1 {
	margin-top: 2%;
	font-size: xx-large;
}

#allenati {
    border: solid;
    padding: 1% 2%;
    border-radius: 3px;
    font-size: large;
}

#text {
	margin-bottom: 5%;
}
