body {
	background-color: black;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	font-family: "Gilroy-HeavyItalic", sans-serif;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	z-index: 1;
}

nav {
	display: flex;
	align-items: center;
	margin-bottom: 2%;
}

nav a {
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: white;
}

img {
	height: 60px;
	margin-left: 22%;
	margin-top: 20%;
}

#container {
	padding-left: 10%;
	padding-top: 2.5%;
	font-size: x-large;
	width: 47%;
}

.link_nav {
	text-decoration: none;
	color: aliceblue;
	margin-right: 30px;
}

a:hover {
	color: #ff5d66;
	pointer-events: cursor;
}

#trainers {
	color: #ff5d66;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	color: white;
	background-image: url("/images/user.png");
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-size: cover;
	margin-left: 270px;
	margin-top: 2%;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: -225%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%; /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

#logout {
	margin-right: 0;
	color: white;
}

#logout:hover {
	color: #ff5d66;
}

#trainers_wrapper {
	display: flex;
	height: fit-content;
	flex-wrap: wrap;
	width: 94%;
	border-radius: 6%;
	margin: 12% 0% 5% 9%;
}

#dettagli_wrapper {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,
		rgba(255, 93, 102, 1) 100%);
	margin: 2% 2% 4% 2%;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	width: 25%;
	height: 400px;
	justify-content: flex-end;
}

#dettagli_trainer {
	margin: 5%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15%;
}

ul {
	margin: 3%;
	width: 100%;
}

#dettagli_trainer a {
	border: solid;
    padding: 4% 7%;
    border-radius: 3px;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}

#desc {
	margin-bottom: 12%;
    color: white;
}

#nome {
	margin-bottom: 5%;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    font-style: italic;
}