<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/admin/form_categoria.css">
		<link rel="icon" type="image/png" href="/images/favicons/favicon.jpeg">
	</head>
	
	<body>
	
		<div id="buttons_wrapper">
			<a th:href="@{/admin/categorie}">
				<button id="button">BACK</button>
			</a>
			<a th:href="@{/admin/homeadmin}">
				<button id="button">HOME</button>
			</a>
		</div>
		
		<div>
		
			<div id="wrapper">
				<div id="aggiungi">
					<h2>AGGIUNGI UNA CATEGORIA</h2>
				</div>
			</div>
			
			<div id="form_wrapper">
			
				<form th:action="@{/admin/new_categoria}" method="POST" th:object="${categoria}">
					<div id="error" th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					</div>
					<div>
						<span>
							<input type="text" th:field="*{nome}" placeholder="Nome..." required/>
						</span>
					</div>
					<div id="conf_btn">
						<button id="conferma" type="submit">CONFERMA</button>
					</div>
				</form>
			
			</div>
		</div>

	</body>
</html>
